<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIdentifier</key>
	<string>90e5e76d-752c-4c21-bd09-453b66fb4c17</string>
	<key>CFBundleName</key>
	<string>Minesweeper</string>
	<key>CFBundleDisplayName</key>
	<string>Minesweeper</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CFBundleExecutable</key>
	<string>mine</string>
	<key>CFBundleIconFile</key>
	<string>images/app-icon.png</string>
</dict>
</plist>